<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/style.css">
    <title>Main Menu</title>
    
</head>
<body>
    <nav class="editable-table-nav">
        <h1>
            Welcome
        </h1>
    </nav>
    <div class="navigation-buttons">
        <a href="/candidates" class="btn-nav">Candidates list</a>
        <a href="/positions" class="btn-nav">Positions list</a>
    </div>
</body>
</html>
