<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/style.css">
    <title>Main Menu</title>
    
</head>
<body>
    <h1>Welcome</h1>
    <div>
        <form action="/candidates" method="get">
            <button type="submit">Candidates list</button>
        </form>
        <form action="/positions" method="get">
            <button type="submit">Positions list</button>
        </form>
    </div>
</body>
</html>
