<!DOCTYPE html>
<html>
<head>
    <title>DB Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav class="editable-table-nav">
        <h1>
            Login
        </h1>
    </nav>

    <form action="/login" method="post" class="login-form">
        <div class="form-row">
            <label for="user">DB User:</label>
            <input type="text" name="user" required>
        </div>
        <div class="form-row">
            <label for="password">DB Password:</label>
            <input type="password" name="password" required>
        </div>
        <div class="form-row">
            <button type="submit">Login</button>
        </div>
    </form>

</body>
</html>